<div class="container">


  <ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">Pain</li>
    <li class="tab-link" data-tab="tab-2">Salade</li>
    <li class="tab-link" data-tab="tab-3">Tomate</li>
    <li class="tab-link" data-tab="tab-4">Oignon</li>
  </ul>

  <div id="tab-1" class="tab-content current">
    Le pain est l'aliment de base traditionnel de nombreuses cultures. Il est fabriqué à partir des ingrédients qui sont la farine et l'eau. Il contient généralement du sel. D'autres ingrédients s'ajoutent selon le type de pain et la manière dont il est préparé culturellement. Lorsqu'on ajoute le levain ou la levure, la pâte du pain est soumise à un gonflement dû à la fermentation.

  </div>
  <div id="tab-2" class="tab-content">
    
Depuis le début du xve siècle, le sens moderne est attesté3.
La salade se définit comme un mets froid composé de légumes crus ou cuits, de viande, de crustacés, de poisson, de charcuterie, d'œufs, de fromage, assaisonnés d'une vinaigrette, d'une sauce froide, de mayonnaise. Dans ce cas, on précise, par un complément de nom ou un adjectif, qu'il s'agit, par exemple, d'une salade de tomate, d'une salade russe…
  </div>
  <div id="tab-3" class="tab-content">
    Le plant de tomates (Solanum lycopersicum L.) est une espèce de plantes herbacées de la famille des Solanacées, originaire du nord-ouest de l'Amérique du Sud1, largement cultivée pour son fruit. Le terme désigne aussi ce fruit charnu. La tomate se consomme comme un légume-fruit, crue ou cuite. Elle est devenue un élément incontournable de la gastronomie dans de nombreux pays, et tout particulièrement dans le bassin méditerranéen.
  </div>
  <div id="tab-4" class="tab-content">
    L'oignon est une espèce herbacée, vivace par son bulbe unique, cultivée comme une annuelle ou bisannuelle (floraison la deuxième année). C'est une plante haute de 60 à 100 cm, dont les feuilles de couleur verte sont cylindriques, creuses (ce qui distingue cette espèce du poireau et de l'ail, autres espèces cultivées appartenant aussi au genre Allium). La tige florale dressée est également creuse. Elle présente un renflement vers sa base.
    Le bulbe est relativement gros, de forme sphérique, parfois plus ou moins aplatie.
  </div>

</div><!-- container -->

<br>
<br>
<br>
<br>
